.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
    align-items: center;
    background-image: url("/img/pizza.png");
}
h1 {
    background-color: lightgray;
    opacity: 70%;
    font-size: 3em;
    text-align: center;
}
.nav {


}