/*Mobile*/
@media screen and (max-width:339px) {
    body {
        width:100%;

    }

    .nav-links {
        display:flex;
        flex-direction:column;
        text-align: center;
        padding: 0;

    }

    ul {
        text-decoration:none;
        list-style:none
    }


    li {
        color: lightgrey;
        background-color: lightgrey;
        padding: 8px;
        margin: 8px 4px;

        height: 20px;
        text-align: center;
        font-size: 15px;


    }

    .alert-info {
        background-color:#CCFEFF;
        height: 40px ;
        width:calc(100% - 10px);
        /*margin: 10px;*/
        border: 1px black solid;
        text-align: center ;
        padding-top: 1em;
        margin-left: .3em;
        margin-right: .3em;





    }



    .header-img img {
        height: 224px;
        width: 100%;
        margin-left:.1em;
        margin-left:.1em;

    }
}
h1 {
    text-align: center;
}
.sub-section {
    margin-top: 3em;
    margin-bottom: 5em;

}