body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info {
    padding: 1em;
    border-radius: 5px;
    border:none;
    margin: 10px;
    background-color: lightsteelblue;
}
.message-success{
    padding: 1em;
    border-radius: 5px;
    border:none;
    margin: 10px;
    background-color: #cbffcd;
}
.message-warning{
    padding: 1em;
    border-radius: 5px;
    border:none;
    margin: 10px;
    background-color: lightyellow;

}
.message-error{
    padding: 1em;
    border-radius: 5px;
    border:none;
    margin:10px;
    background-color: lightpink;

}